body{
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}
#card{
  background: #EAEAEA;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0,0,0,0.65);
  height: auto;
  margin: 20px auto 20px auto;
  width: 1000px;
  padding: 20px;

}
a{
  padding: 20px;
  color: white;
}
a:hover{
  border-radius: 8px;
  background-color: white;
  color:  #17a2b8;
}